/* elements */
html {
  background-image: url("assets/patterns.png");
}
a, a:visited {
  text-decoration: none;
}
body, div, p, span, button {
  font-family: Overpass;
  font-weight: 300;
  color: #242D33;
  line-height: 1.4;
}
h1 {
  font-size: 70px;
  font-weight: 700;
}
h2 {
  font-size: 30px;
  font-weight: 700;
}

/* font */
.small-font {
  font-size: 14px;
}
.sm-font {
  font-size: 20px;
}
.medium-font {
  font-size: 24px;
}
.light-font {
  opacity: 0.6;
}
.lighter-font {
  opacity: 0.3;
}
.bold-font {
  font-weight: 700;
}
.blue-font {
  color: #225173;
}
.white-font {
  color: #FFFFFF;
}
.link,
.link:visited {
  text-decoration: underline;
  color: #242D33;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  font-weight: 200;
}
.header--right {
  display: flex;
  justify-content: space-between;
}
.header-logo {
  max-width: 40px;
  max-height: 40px;
  margin-right: 5px;
  cursor: pointer;
}
.header-options {
  margin: 3px 10px;
  color: #242D33;
}

/* section: main */
.section-main {
  display: flex;
  margin: 0 auto;
  width: 900px;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}
.main--left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main--right {
  position: relative;
}
.main-text {
  max-width: 300px;
}
.main-button {
  background-color: #2B91D9;
  border: none;
  padding: 12px;
  margin: 20px 0px;
  width: 135px;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s box-shadow;
}
.main-button:hover {
  box-shadow: 0px 2px 4px rgba(0,0,0,.25);
}
.main-image {
  width: 600px;
}
.main-demo {
  position: absolute;
  top: 37px;
  left: 71px;
  width: 460px;
}

/* section: supported */
.section-supported {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 900px;
  padding: 0px 100px 64px 100px;
  margin: 64px auto;
}
.supported-sites {
  margin-top: 10px;
}
.site-icon {
  height: 25px;
  padding-right: 15px;
}

.section-about {
  background-color: #F7FCFF;
  width: 100%;
  padding: 64px 0;
}
.section-container {
  width: 700px;
  margin: 0 auto;
  position: relative;
}
.about-text {
  width: 550px;
  line-height: 1.5;
  font-size: 16px;
  color: #242D33;
  opacity: 0.6;
  margin-bottom: 16px;
  margin-top: 8px;
}
.about-logo {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50px;
  right: 0;
  background-image: url(./assets/logo_hd.png);
  background-size: 150px 150px;
  background-repeat: no-repeat;
}


/* section: description 1 */
.section-description-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F7FCFF;
  padding: 100px;
}
.desc-1-text {
  max-width: 550px;
}
.cards-img {
  max-width: 500px;
}

/* section: description 2 */
.section-description-2 {
  display: flex;
  justify-content: space-between;
  background-color: #00304D;
}
.desc-2-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
  max-width: 550px;
  margin: 0px 150px 0px 0px;
}
.desc-2-text {
  color: #FFFFFF;
}
.panel-img {
  width: 400px;
  height: 475px;
}

/* section: testimony */
.section-testimony {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F7FCFF;
  padding: 100px;
}
.testies {
  margin-top: 35px;
}
.testie {
  width: 445px;
  height: 225px;
}

/* section: get */
.section-get {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0px 40px 0px;
  background-color: #00304D;
  /* background-color: #FFFFFF; */
}

/* section: get */
.section-team {
  width: 100%;
  padding: 40px 0px 40px 0px;
  background-color: #fff;
  text-align: center;
}

.section-flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.person-container {
  height: 150px;
  width: 200px;
  padding: 24px 16px;
}

.portrait {
  display: block;
  border-radius: 50%;
  margin: 0 auto;
  width: 64px;
  height: 64px;
}

.person-info {
  text-align: center;
  padding-top: 16px;
}

.person-name {
  font-weight: 700;
  font-size: 18px;
}

.person-name {
  font-size: 18px;
}

.link-contact {
  text-decoration: underline;
  color: #242D33;
}

.panel {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.panel-background {
  background-color: rgba(0,0,0,.5);

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.panel-container {
  background-color: #F7FCFF;
  border-radius: 8px;
  position: fixed;
  width: 800px;
  height: 450px;
  left: 50%;
  transform: translate(-50%,-50%);
  top: 50%;
  box-shadow: 0px 5px 10px rgba(0,0,0,.25);
}

.panel-box {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.panel-close {
  width: 14px;
  height: 14px;
  left: 24px;
  top: 24px;
  position: absolute;

  cursor: pointer;
  background-image: url(./assets/close.png);
  background-size: 14px 14px;
}

.panel-title {
  padding-top: 54px;

  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: #4E565C;
}

.panel-content {
  width: 80%;
  margin: 0px 10%;
  display: flex;
}

.panel-content-header {
  text-transform: uppercase;
  margin-left: 10%;
  margin-top: 32px;
  color: #242D33;
  opacity: 0.4;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.panel-content-section {
  margin-right: 16px;
  padding-top: 0px;
  display: inline-block;
  flex-grow: 1;
  flex-basis: 200px;
}

.panel-content-section-header {
  color: #4E565C;
  font-size: 24px;
  font-weight: 700;
}

.panel-body-text {
  padding-top: 8px;
  color: #646B71;
}

.panel-mini-panel {
  margin-top: 16px;
  width: 80%;
}

.panel-button {
  background-color: #178FE5;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  margin-top: 16px;
  padding: 12px 16px;
  border: none;
  border-radius: 2px;
  transition: 0.2s box-shadow;
  margin-bottom: 16px;
}

.panel-button:hover {
  box-shadow: 0px 2px 4px rgba(0,0,0,.25);
}

.key {
  background: #fff;
  box-sizing: border-box;
  border: 0.5px solid rgba(0,0,0,.08);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 4px 8px;
}

.key-blue {
  background-color: #2B91D9;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  color: #fff;
  padding: 4px 8px;
}

.panel-close-hint {
  color: #A3A9AE;
  font-size: 12px;
}
